@use '../node_modules/bootstrap/scss/bootstrap.scss';
@import "./assets/scss/variables.scss";

body {
  font-family: 'Alexandria', sans-serif;
}

.empty-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 1px solid $greyFont;
  cursor: pointer;
  outline: none;
  color: $greyFont;
  padding: 0.5rem 1rem;
  margin: auto;

}


.contenitore {
  max-width: 1200px;
  width: 1200px;
  margin: auto;
  padding: 6rem 0;
}

.triangle-down {
  font-size: 150px;
  position: absolute;
  bottom: -110px;
  right: 46%;
}